<footer>
        <div class="container-fluid"  style="bottom:0;  background-color:rgba(175, 9, 9); color: white; text-align: center; ">
          <div class="row">
            <div class="col">
         <a href="https://www.facebook.com/TBSRO" style="color: white;">
           <i class="bi bi-facebook" style="font-size: 2rem" ></i>
         </a>
       </div>
       <div class="col">
         <a href="https://www.youtube.com/channel/UCBDfOx8RKq5c5SGnt-3SFmQ/videos" style="color: white;">
           <i class="bi bi-youtube" style="font-size: 2rem"></i>
         </a>
       </div>
       <div class="col">
         <a href="https://www.instagram.com/tbsr2020/" style="color: white;">
           <i class="bi bi-instagram" style="font-size: 2rem"></i>
         </a>
       </div>
          </div>
        </div>
</footer>