

<link rel="stylesheet" href="/public/build/css/style.css">

  <div class="header" id="myHeader">
    <img src="build/images/flag.png" style="width: 100%; height: 6rem; position: absolute; opacity: 75%;" alt="">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid  d-flex justify-content-end "  >
      <div class="col-xxl-3 col" style="margin-top: -3rem;">
        <a class="nav-item" href="index.html" >
          <img  class="rounded-circle logo border border-2 border-dark "  src="build/images/logo 4 (1).png"   style=" margin-top: 5rem; ">
          </a>
      </div>
      <button onclick="navbar()" class="navbar-toggler smallNavButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -3rem; ">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse  mb-2 " id="navbarText" >
      
          <div class="col-xxl-8 col-lg-7 col   " style="margin-top: -3rem;">
            <ul class="navbar-nav me-auto d-flex justify-content-center align-items-end text-center ">
              <img  id="myDIV" class="myDIV rounded-3" src="build/images/Rectangle 1.png" style="width: 10rem; height: 15rem; margin-top: -1.5rem; " alt="">
              <li class="nav-item">
                <a role="button " class="btn navButton centerA border-bottom " href="index.html"  >Acasa</a>
              </li>
              <!-- <li class="nav-item"> 
                <a role="button " class="btn navButton centerD border-bottom " href="despreNoi.html">Despre Noi</a>
              </li> -->
              <li class="nav-item ">
                <a role="button " class="btn navButton centerP border-bottom " href="parteneri.html" >Parteneri</a>
              </li>
              <li class="nav-item ">
                <a role="button " class="btn navButton centerL border-bottom "  href="lucrare.html" >Lucrare</a>
              </li>
              <li class="nav-item ">
                <a role="button " class="btn navButton centerC border-bottom " href="contact.html">Contact</a>
              </li>
          </ul>
        </div>
        <div class="col-xxl-3 col-lg-2 col   d-flex justify-content-xxl-center justify-content-end" style="margin-top: -3rem;">
          <a role="button " class="btn doneaza centerDo " href="doneaza.html" >Doneaza</a>
        </div>
        </div>
      </div>
    </nav>
   
   <script src="public/build/js/script.js"></script>
