@import "../variables/variables";

@media(max-width:969px ){
  li{
    margin-left: -1rem;
  }
 
  .centerA{
    position: absolute;
    margin-top: -6rem;
    top:$heightPosition;
    left:40rem;
  }
  .centerD{
    position: absolute;
    margin-top: -4rem;
    top:$heightPosition;
    left:39.1rem;
    
  }
  .centerP{
    position: absolute;
    margin-top: -2rem;
    top:$heightPosition;
    left:39.6rem;
  }
  .centerL{
    position: absolute;
    margin-top: 0rem;
    top:$heightPosition;
    left:39.6rem;
  }
  .centerC{
    position: absolute;
    margin-top: 2rem;
    top:$heightPosition;
    left:39.6rem;
  }
  .centerDo{
    position: absolute;
    margin-top: 4rem;
    top:$heightPosition;
    left:39.5rem;
  }
  .border-bottom{
  border-bottom: 1px solid black !important;
 }
 .logo{
  margin-left: 2rem;
  width: 7rem;
 }
}

@media (max-width:375px) {
  .doneaza{
    margin-top: 1rem;
  }
  .centerA{
    position: absolute;
    margin-top: -6rem;
    top:$heightPosition;
    left:15.5rem;
  }
  .centerD{
    position: absolute;
    margin-top: -4rem;
    top:$heightPosition;
    left:14.5rem;
    
  }
  .centerP{
    position: absolute;
    margin-top: -2rem;
    top:$heightPosition;
    left:15rem;
  }
  .centerL{
    position: absolute;
    margin-top: 0rem;
    top:$heightPosition;
    left:15.3rem;
  }
  .centerC{
    position: absolute;
    margin-top: 2rem;
    top:$heightPosition;
    left:15.3rem;
  }
  .centerDo{
    position: absolute;
    margin-top: 4rem;
    top:$heightPosition;
    left:15rem;
  }
  .border-bottom{
  border-bottom: 1px solid black !important;
 }
 .logo{
  margin-left: 0rem;
  width: 7rem;
 }
}

  @media(min-width:900px ){
    .myDIV{
      display: none;
    }
    .li{
      display: block;
    }
  .doneaza{
  
    background-color: $donateColor;
     color: white;
  }
  .navButton{
    background-color: rgb(255, 255, 90);
  }
  .border-bottom{
  border-bottom: 0px solid black !important;
 }
 .logo{
  margin-left: 5rem;
  width: 10rem;
 }
  }

  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #6e661767;
    border-radius: 20px;
    border: 3px solid #fff3484f;
  }