@media (max-width: 475px) {
  .mainTitle {
    margin-left: 2rem;
  }

  .mainText {
    margin-left: -1rem;
  }

  .triangle {
    margin-left: -2rem;
  }
}
@media (min-width: 475px) {
  .mainTitle {
    margin-left: 8rem;
  }
}
@media (min-width: 969px) {
  .mainTitle {
    margin-left: -6rem;
  }

  .mainText {
    margin-left: 5rem;
  }
}
.textPozition {
  font-size: 5rem;
  float: left;
}