body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.darkBackground {
  margin-top: 1rem;
  background: #ffda1f31;
}

@media (min-width: 1225px) {
  #footer {
    margin-top: auto;
  }
}