body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 969px) {
  .mainText {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
#footer {
  margin-top: auto;
}