body {
  background-color: #ffda1f6e;
}

@media (max-width: 475px) {
  .backgroundT {
    background-image: url("../images/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem;
  }

  .backgroundSize {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .firstContainer {
    margin-top: 0rem;
  }
}
@media (min-width: 475px) {
  .backgroundT {
    background-image: url("../images/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem;
  }

  .backgroundSize {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .firstContainer {
    margin-top: 0rem;
  }
}
@media (min-width: 690px) {
  .backgroundT {
    background-image: url("../images/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem;
  }

  .backgroundSize {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .firstContainer {
    margin-top: -7rem;
  }
}
@media (min-width: 1225px) {
  .backgroundT {
    background-image: url("../images/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem;
  }

  .backgroundSize {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .firstContainer {
    margin-top: -7rem;
  }
}
.videoWindoSize {
  margin-top: 5rem;
  margin-bottom: 5rem;
}