
     $pfpImageBackground: #ffda1f31;
     
     @media(max-width:475px ){
       
        .topPeople{
         background-color:none ;
       }
       .pfpImage{
         background: $pfpImageBackground;
       }
       }
       @media (min-width:475px) {
        
        .topPeople{
         background-color:none ;
       }
       .pfpImage{
         margin-top: 5rem;
         background: $pfpImageBackground;
       }
       }
     
       @media(min-width:1225px ){
       
       
        .topPeople{
         background-color: $pfpImageBackground ;
       }
       .pfpImage{
         margin-top: 1rem;
         background: none;
       }
       }
      .fontSize{
       font-size: 1.3rem;
      }
      .videoWindoSize{
       margin-top: 5rem; 
       margin-bottom: 5rem;
      }
      .person1{
       margin-bottom: 3rem; 
       margin-top: 3rem;
       }
 .personImage{
   width: 10rem; 
   height: 10rem;
 }
 .person3{
   margin-top: 3rem;
 }
 .distanceHeader{
   margin-top: 8rem;
 }