@import "../variables/variables";
body{
    background-color:#ffda1f6e ;
  
  }
  @media(max-width:475px ){
    .backgroundT{
      background-image:$polygon;  
       background-repeat: no-repeat;
         background-position: center;
          background-size: $backgroundSize;
    }
    .backgroundSize{
      padding-top: 5rem;
      padding-bottom: 5rem;
     
    }
       
         .firstContainer{
          margin-top: 0rem;
         }
      
  }
  @media (min-width:475px) {
    .backgroundT{
      background-image:$polygon;  
       background-repeat: no-repeat;
         background-position: center;
          background-size: $backgroundSize;
    }
    .backgroundSize{
      padding-top: $paddingTopAndBottom;
      padding-bottom: $paddingTopAndBottom;
     
    }
         .firstContainer{
          margin-top: 0rem;
         }
  }
  @media(min-width:690px ){
    .backgroundT{
      background-image:$polygon;  
       background-repeat: no-repeat;
         background-position: center;
          background-size: $backgroundSize;
    }
    .backgroundSize{
      padding-top: $paddingTopAndBottom;
      padding-bottom: $paddingTopAndBottom;
     
    }
    
   .firstContainer{
    margin-top: -7rem;
   }
  }
  @media(min-width:1225px ){
    .backgroundT{
      background-image:$polygon;  
       background-repeat: no-repeat;
         background-position: center;
          background-size: $backgroundSize;
    }
    .backgroundSize{
      padding-top: $paddingTopAndBottom;
      padding-bottom: $paddingTopAndBottom;
     
    }
     .firstContainer{
      margin-top: -7rem;
     }
    }
  
    .videoWindoSize{
      margin-top: 5rem; 
      margin-bottom: 5rem;
     }